<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark glass-nav">
    <div class="container py-2">
      <a class="navbar-brand brand-mark" href="/">
        <span class="brand-orb"></span>
        <span>
          <strong>ChiqindiBor</strong>
          <small>plastikni daromadga aylantiring</small>
        </span>
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
          <% publicNavigation.forEach((item) => { %>
            <li class="nav-item">
              <a class="nav-link <%= currentPath === item.href ? 'active' : '' %>" href="<%= item.href %>"><%= item.label %></a>
            </li>
          <% }) %>
          <% if (currentUser) { %>
            <li class="nav-item ms-lg-2">
              <a class="btn btn-gradient" href="<%= dashboardHomeUrl %>">Panelga o'tish</a>
            </li>
            <li class="nav-item ms-lg-2">
              <form method="post" action="/logout">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="btn btn-outline-light rounded-pill px-3" type="submit">Chiqish</button>
              </form>
            </li>
          <% } else { %>
            <li class="nav-item ms-lg-2"><a class="btn btn-ghost" href="/login">Kirish</a></li>
            <li class="nav-item"><a class="btn btn-gradient" href="/register">Ro'yxatdan o'tish</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>